@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Great+Vibes&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --darkblue: #0F1C39;
    --mediumblue: #0A2463;
    --royalblue: #506FB8;
    --blue: #88A3E3;
    --lightblue: #C3D5FF;
}

*{
    font-family: 'Nunito', 'sans-serif';
}

a{
    display: inline-block;
    text-decoration: none;
    text-align: justify;
    text-shadow: 1px 1px 1px var(--darkblue);
    color: var(--lightblue);
    font-size: 15px;
}

body{
    background-image: linear-gradient(to bottom, var(--lightblue), whitesmoke, white);
    background-attachment: fixed;
    margin: 0px;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 75%;
    box-shadow: 5px 5px 3px var(--mediumblue);
    margin: 20px auto;
    padding: 5px;
}

div{
    background-color: white;
    border-radius: 10px;
    max-width: 75%;
}

h1{
    color: var(--darkblue);
    text-shadow: 1px 1px 1px var(--mediumblue);
    padding: 10px;
    margin: 10px;
}


h2{
    color: whitesmoke;
    text-align: center;
}

nav{
    max-width: 75%;
    background-color: var(--darkblue);
    margin: auto;
    border-radius: 15px;
    text-indent: 10px;
}


nav > a:hover{
    background-color: var(--lightblue);
    color: var(--mediumblue);
    padding: 7px;
    text-decoration: underline;
}

p{
    text-indent: 30px;
    text-align: justify;
    color: black;
    padding: 10px;
    margin: 10px;
}

li{
    text-align: left;
}

footer{
    text-align: center;
    background-color: var(--darkblue);
    color: white;
    padding: 3px;
}

nav > a{
   padding: 5px;
   text-align: center;
   display: inline-block;
}


.principal{
    font-family: 'Great Vibes';
    font-size: 50px;
    text-align: center;
}

