@charset "UTF-8";

:root{
    --darkblue: #0F1C39;
    --mediumblue: #0A2463;
    --royalblue: #506FB8;
    --blue: #88A3E3;
    --lightblue: #C3D5FF;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    margin: auto;
    font: bold 15px Arial;
    text-decoration: none;
    text-align: justify;
    text-shadow: 1px 1px 1px var(--darkblue);
    color: var(--lightblue);
}

h2{
    color: whitesmoke;
    text-align: center;
    
}

menu{
    width: 75%;
    background-color: var(--darkblue);
}

h1{
    text-align: center;
    color: var(--darkblue);
    text-shadow: 1px 1px 1px var(--mediumblue);
}

body{
    background-image: linear-gradient(to bottom, var(--royalblue), var(--lightblue));
    background-attachment: fixed;

}

main{
    background-color: white;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    box-shadow: 5px 5px 3px var(--mediumblue);
}

div{
    background-color: white;
    border-radius: 10px;
    width: 75%;
    text-align: center;
}
 
p{
    text-align: justify;
    color: black;
}

