a{
    
    margin: auto;
    font: bold 15px Arial;
    text-decoration: none;
    
}

h2{
    color: lightsteelblue;
    -webkit-text-stroke: .5px black;
}
menu{
    color: rgb(58, 58, 253);
    text-align:center;
    display: flex;
    align-items:center;
    margin: auto;
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
}

body{
    background-color: lightsteelblue;
}

div{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}
 
p{
    margin-left: 10px;

}