
:root{
    --darkblue: #0A2463;
    --mediumblue: #0F1C39;
    --royalblue: #506FB8;
    --blue: #88A3E3;
    --lightblue: #C3D5FF;
}

a{
    margin: auto;
    font: bold 15px Arial;
    text-decoration: none;
    color: whitesmoke;
    text-align: justify;
}

h2{
    color: whitesmoke;
    text-align: center;
}
menu{
    background-color: var(--darkblue);
    text-align:center;
    display: flex;
    align-items:center;
    margin: auto;
}
h1{
    text-align: center;
    color: var(--darkblue);
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
}

body{
    background-color: whitesmoke;
}

div{
    background-color: var(--blue);
    border-radius: 10px;
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    text-align: justify;
}
 
p{
    margin-left: 10px;
    color: black;
}

