a{
    color: rgb(58, 58, 253);
    margin: auto;
    font: bold 15px Arial;
    
}
menu{
    text-align:center;
    display: flex;
    align-items:center;
    margin: auto;
}
h1{
    text-align: center;
    color: whitesmoke;
    
}

body{
    background-color: lightsteelblue;
}

div{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}
p{
    margin-left: 10px;

}